@layer reset, application;

@import 'the-new-css-reset/css/reset.css' layer(reset);


@layer application {
  :root {
    --bg: oklch(97.18% 0.0478 105.22 / 20%);
    --fg: oklch(0% 0 0);

    @media (prefers-color-scheme: dark) {
      --bg: oklch(0% 0 0);
      --fg: oklch(100% 0 0);
    }
  }

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialised;
    background-color: var(--bg);
    color: var(--fg);
    font-family: system-ui;
    font-variant-numeric: tabular-nums;
  }

  main {
    inline-size: min(100% - 2.5rem, 60ch);
    margin-block-start: 8cap;
    margin-inline: auto;
    text-align: center;
  }

  h1 {
    font-size: clamp(1.5em, 1.318em + 0.91vw, 2em);
    font-weight: 300;
    line-height: 1;
  }

  p {
    font-family: "Libre Caslon Text", serif;
    font-size: clamp(1.05em, 0.909em + 0.45vw, 1.25em);
    line-height: 1.6;
    margin-block-start: 1cap;
    text-wrap: balance;
  }

  div {
    display: grid;
    margin-block-start: 3cap;
    row-gap: 0.5cap;
  }

  h2 {
    font-size: 1.1em;
    font-variant: all-small-caps;
    font-weight: 300;
    letter-spacing: 0.04em;
  }
  
  a {
    font-weight: 300;
  }
}
