@layer reset, application;

@import "the-new-css-reset/css/reset.css" layer(reset);

@layer application {
  :root {
    --bg: light-dark(oklch(0.9718 0.0478 105.22 / 20%), oklch(0 0 0));
    --fg: light-dark(oklch(0.3 0 0), oklch(1 0 0));
    --text-lh: 1.65;

    accent-color: var(--bg);
    color-scheme: light;

    @media (prefers-color-scheme: dark) {
      --text-lh: 1.7;
      color-scheme: dark;
    }
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "adobe-caslon-pro", serif;
  }

  main {
    inline-size: min(100% - 2.5rem, 80ch);
    margin-inline: auto;
    padding-block-start: 8cap;
    text-align: center;
  }

  h1 {
    font-size: clamp(1.688em, 1.574em + 0.57vw, 2em);
    font-feature-settings: "c2sc", "smcp";
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1;
    margin-block-end: 1.25cap;
  }

  p {
    font-size: clamp(1.15em, 0.909em + 0.45vw, 1.25em);
    line-height: var(--text-lh);
    text-wrap: balance;
  }

  abbr {
    letter-spacing: 0.06em;
  }

  div {
    display: grid;
    margin-block-start: 5cap;
    row-gap: 0.625cap;
  }

  h2 {
    font-size: 1.1em;
    font-variant: all-small-caps;
    font-weight: 400;
    letter-spacing: 0.06em;
  }

  a {
    text-decoration: underline;
    text-decoration-color: light-dark(oklch(0 0 0 / 25%), oklch(1 0 0 / 70%));
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.1875rem;
    transition: text-decoration-color 120ms ease-in;

    @media (hover: hover) {
      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }

  iframe {
    max-inline-size: 100%;
  }

  .flow > * + * {
    margin-block-start: 1.25cap;
  }
}
