---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Alexander Prestmo">
  <main>
    <h1>Alexander Prestmo</h1>
    <p>
      I'm Alexander, based in Oslo, Norway. Currently I work at DN&nbsp;Media
      Group as a digital designer and frontend developer. My background is in
      graphic design, print and web.
    </p>
    <p>
      I ❤️ <abbr title="Cascading Style Sheets">CSS</abbr>
    </p>
    <br>
    <br>
    <a href="/en/cv">CV &rarr;</a>
  </main>
</BaseLayout>
