---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Contact from '@/components/contact.astro'
// import Cv from '../components/cv.astro';
---

<BaseLayout>
  <main>
    <h1>Alexander Prestmo</h1>
    <p>
      I'm Alexander, based in Oslo, Norway. Currently I work at DN&nbsp;Media
      Group as a digital designer and frontend developer. My background is in
      graphic design, print and web.
    </p>
    <p>I ❤️ <abbr title="Cascading Style Sheets">CSS</abbr></p>
    {
      /*
        <div>
          <Cv />
        </div>
         */
    }
    <div>
      <Contact />
    </div>
  </main>
  {
    /*
       <footer>
        <label for='mode'>
          <input id='mode' type='checkbox' /> Bytt modus
        </label>
      </footer>
       */
  }
</BaseLayout>
