---
import "@/styles/main.css";

// import Cv from '../components/cv.astro';
import Contact from "@/components/contact.astro";
import LanguagePicker from "@/components/LanguagePicker.astro";
---

<html lang="nb-NO">
  <head>
    <meta charset="utf-8" />
    {
      /*
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    */
    }
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexander Prestmo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <LanguagePicker />
    <main>
      <h1>Alexander Prestmo</h1>
      <p>
        Jeg er Alexander, bosatt i Oslo, Norge. For tiden jobber jeg i
        DN&nbsp;Media Group som digital designer og frontend-utvikler. Min
        bakgrunn er innen grafisk design, print og web.
      </p>
      <p>Jeg elsker CSS, ryddig og enkel kode som får jobben gjort.</p>
      {
        /*
      <div>
        <Cv />
      </div>
       */
      }
      <div>
        <Contact />
      </div>
    </main>
    {
      /*
     <footer>
      <label for='mode'>
        <input id='mode' type='checkbox' /> Bytt modus
      </label>
    </footer>
     */
    }
  </body>
</html>
