---
import "../styles/main.css";

import Contact from "../components/contact.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexander Prestmo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1>Alexander Prestmo</h1>
      <p>
        I'm Alexander, based in Oslo, Norway. Currently I work at DN&nbsp;Media
        Group as a digital designer and frontend developer. My background is in
        graphic design, print and web.
      </p>
      <div>
        <Contact />
      </div>
    </main>
  </body>
</html>
