---
const behanceApi = "https://api.behance.net/v2/users/aprestmo/";
const section = "work_experience";

const response = await fetch(
	`${behanceApi}/${section}?api_key=${import.meta.env.BEHANCE_KEY}`,
);
const data = await response.json();
const cv = data.work_experience;
---

<h2>Experience</h2>
<dl>
  {
    cv.map((c: any) => (
      <>
        <dt>
          {c.end_date && c.start_date.slice(3, 7) !== c.end_date.slice(3, 7)
            ? `${c.start_date.slice(3, 7)}\u2013${c.end_date.slice(3, 7)}`
            : `${c.start_date.slice(3, 7)}`}
        </dt>
        <dd>{c.organization}</dd>
      </>
    ))
  }
</dl>

<h2>Education</h2>
<dl>
  <dt>2010&ndash;2013</dt>
  <dd>
    Graphic design, bachelors degree, NTNU Gjøvik (formerly Høgskolen i Gjøvik)
  </dd>
</dl>

<style>
  h2 {
    margin-block-start: 1.5cap;
  }
  dl {
    column-gap: 1cap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 0.5cap;
  }

  dt {
    text-align: end;
  }

  dd {
    text-align: start;
  }
</style>
