---
const behanceApi = "https://api.behance.net/v2/users/aprestmo";

const response = await fetch(
  `${behanceApi}?api_key=${import.meta.env.BEHANCE_KEY}`
);
const data = await response.json();
const user = data.user;
---

<h2>Contact</h2>
<a href="mailto:aprestmo@gmail.com">aprestmo@gmail.com</a>
<a href="tel:004795066574">(0047)&thinsp;950&thinsp;66&thinsp;574</a>
<a href={user.social_links[0].url}>{user.social_links[0].service_name}</a>
