---
import '@/styles/main.css';

import Footer from '@/components/Footer.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;

const currentLocale = Astro.currentLocale;

console.log(Astro.url.pathname);
---

<html lang={currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        Astro.url.pathname !== "/no/" && Astro.url.pathname !== "/en/"
          ? `${title} | Alexander Prestmo`
          : title
      }
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/jds2wjb.css" />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
